.login-light {
	height: 592px;
	width: 669px;
	align-content: center;
	justify-content: center;
	margin:0 auto;
}

.login-light .div {
	height: 592px;
	position: relative;
}

.login-light .overlap-group {
	border: 3px solid;
	border-color: #1c43be;
	border-radius: 20px;
	box-shadow: 0px 4px 4px #00000040;
	height: 324px;
	left: 0;
	position: absolute;
	top: 162px;
	width: 669px;
}

.login-light .login-button {
	align-items: center;
	background-color: #3366ff;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 55px;
	justify-content: center;
	left: 155px;
	padding: 2px;
	position: absolute;
	top: 212px;
	width: 352px;
	cursor: pointer;
}

.login-light .element {
	color: #ffffff;
	font-family: "Noto Sans KR-Bold", Helvetica;
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 0;
	line-height: normal;
	margin-top: -2.5px;
	position: relative;
	width: fit-content;
}

.login-light .password-fill {
	border: 2px solid;
	border-color: #3366ff;
	border-radius: 20px;
	height: 55px;
	left: 155px;
	position: absolute;
	top: 131px;
	width: 352px;
}

.login-light .username-fill {
	border: 2px solid;
	border-color: #3366ff;
	border-radius: 20px;
	height: 55px;
	left: 155px;
	position: absolute;
	top: 41px;
	width: 352px;
}

.login-light .text-wrapper {
	color: #3366ff;
	font-family: "Noto Sans KR-Bold", Helvetica;
	font-size: 20px;
	font-weight: 700;
	left: 42px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: right;
	top: 145px;
	width: 102px;
}

.login-light .element-2 {
	color: #3366ff;
	font-family: "Noto Sans KR-Bold", Helvetica;
	font-size: 20px;
	font-weight: 700;
	left: 42px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: right;
	top: 54px;
	width: 102px;
}

.login-light .element-3 {
	color: #3366ff;
	font-family: "Noto Sans KR-Regular", Helvetica;
	font-size: 20px;
	font-weight: 400;
	left: 217px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 290px;
	white-space: nowrap;
	width: 102px;
}

.login-light .element-4 {
	color: #3366ff;
	font-family: "Noto Sans KR-Regular", Helvetica;
	font-size: 20px;
	font-weight: 400;
	left: 336px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 290px;
	white-space: nowrap;
	width: 132px;
	cursor:pointer;
}

.login-light .line {
	height: 22px;
	left: 331px;
	object-fit: cover;
	position: absolute;
	top: 293px;
	width: 1px;
}

.login-light .element-5 {
	color: #3366ff;
	font-family: "Noto Sans KR-Bold", Helvetica;
	font-size: 60px;
	font-weight: 700;
	left: 228px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 74px;
	width: 212px;
}

@media (max-width: 400px) {
  .login-light {
    width: 100%;
    max-width: none;
    padding: 0;
  }
}