@charset "UTF-8";


.ChallengeBox-table{
	display: grid;
	grid-template-columns: 500px 500px;
	justify-content: center;
	padding: 20px;
	align-items: center;
	justify-content: center;
	

	
	
}

.Title {
    color: black;
    text-align: center;
    font-size: 60px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    line-height: 150px;
}


.ChallengeBox1, .ChallengeBox2, .ChallengeBox3, .ChallengeBox4 {
    box-sizing: border-box;
    width: 400px;
    height: 200px;
    position: relative;
    background: rgba(79, 209, 139, 0.50);
    box-shadow: 8px 13px 44px -6px #DFDBF6;
    border-radius: 20px;
    overflow: hidden;
    margin:50px; 
    padding: 20px; 
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
   
}


.WalletAmount {
    width: 300px;
    height: 304px;
    left: 236px;
    top: -30px;
    position: absolute;
    background: rgba(51, 102, 255, 0.50);
    border-radius: 155px;
    overflow: hidden;
    
}

