<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.home.dao.MemberDAO">

	<!-- 회원 추가 쿼리 -->
	<insert id="MemberInsert">
		insert into Members(MemberId, MemberPwd, MemberAddr,
		MemberEmail, MemberName, MemberTel, MemberBirth, MemberGender,
		MemberGradeName)
		values(#{memberId}, #{memberPwd}, #{memberAddr},
		#{memberEmail}, #{memberName},
		#{memberTel}, #{memberBirth},
		#{memberGender}, 'new')
	</insert>

	<!-- 로그인 하기 위한 정보 조회 쿼리 -->
	<select id="loginOk" resultType="com.smart.home.dto.MemberDTO">
		select memberid, membername from
		members
		where memberid=#{param1} and memberpwd=#{param2}
	</select>
	
	<!-- 아이디 찾기를 위한 조회 쿼리 -->
	<select id="findId" resultType="String">
		select memberid from members
		where memberName=#{param1} and memberEmail=#{param2}
	</select>
	
	<!-- 회원가입시 중복 아이디 존재 여부를 체크하기 위하는 쿼리 -->
	<select id="dupChk" resultType="String">
		select memberid from members
		where memberid=#{param1}
	</select>

	<!-- 비밀번호 찾기 쿼리 -->
	<select id="findPwd" resultType="String">
		select memberPwd from members
		where memberid=#{param1} and memberEmail=#{param2}
	</select>

	<!-- 회원정보 조회 쿼리 -->
	<select resultType="com.smart.home.dto.MemberDTO" id="getMember">
		select
		MemberId, MemberName, MemberGender,
		MemberPwd, MemberEmail, MemberTel,
		MemberAddr, MemberBirth, memberdeposit
		from members where memberid=#{param1}
	</select>
	
	<!-- 회원정보 수정 쿼리 -->
	<update id="memberUpdate">
		update members set 
		MemberPwd = #{memberPwd},
		MemberAddr = #{memberAddr},
		MemberEmail = #{memberEmail},
		MemberName = #{memberName},
		MemberTel = #{memberTel},
		MemberBirth = #{memberBirth},
		MemberGender = #{memberGender}
		where MemberId = #{memberId}
	</update>
</mapper>
